
@using AppZim.TableSql
@using MB.Extensions
@using AppZim.Models
@{
    ViewBag.Title = "ManageListMeeting";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
    var aclog = AccountTable.getbyID(Session["UID"].ToString().ToInt(0));

}
@section myStyles{
    <style>
        .table-responsive {
            display: block;
            width: 100%;
            overflow: hidden;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }

        .dataTables_paginate {
            height: 25px;
        }

        .container {
            max-width: 1440px
        }

        table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
            background-image: none;
            background-color: #e3e7ed;
            position: relative;
        }

        table.dataTable tbody td.sorting_1 {
            background-color: unset;
        }

        .form-fieldset {
            background-color: unset;
            border: 1px solid rgba(72,94,144,.16);
            padding: 20px 25px 25px;
            border-radius: .25rem;
        }

        tbody tr.selected:not(.collapse-row) {
            background-color: #3461c8 !important;
            color: white;
        }

            tbody tr.selected:not(.collapse-row) a {
                color: white;
            }
    </style>
}
<div class="d-xl-flex align-items-center justify-content-between ">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                    <li class="breadcrumb-item active" aria-current="page">Danh sách phòng học Zoom</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="d-xl-block">
        <div class="d-flex justify-content-xl-center mg-t-20 mg-xl-t-0 flex-wrap">
            <div class="search-form mg-l-5 mg-r-5">
                <input type="text" name="search" class="form-control" placeholder="Tìm kiếm..." value="">
                <button class="btn" type="button" id="btn-search"><i data-feather="search"></i></button>
            </div>
            <a href="#filterCollapse" class="btn btn-primary mg-l-5 mg-r-5 mg-sm-r-0 transparent" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="filterCollapse">
                <i data-feather="filter"></i>
            </a>
        </div>
    </div>
</div>
<div class="collapse mg-t-10" id="filterCollapse">
    <div class="card">
        <div class="card-body">
            <div class="row flex-wrap">
                <div class="form-group col-md-4 col-6 col-xl-2">
                    <label class="form-control-label">Trạng thái</label>
                    <select class="form-control select2" name="isRoomStart">
                        <option value="2">-- Tất cả --</option>
                        <option value="0">Đã đóng</option>
                        <option value="1">Đang diễn ra</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-6 col-xl-2">
                    <label class="form-control-label">Ngày học từ</label>
                    <input type="text" name="from" class="form-control datetimepicker date-only" value="@ViewBag.fromdate" placeholder="DD / MM / YYYY" autocomplete="off"/>
                </div>
                <div class="form-group col-md-4 col-6 col-xl-2">
                    <label class="form-control-label">Đến</label>
                    <input type="text" name="to" class="form-control datetimepicker date-only" value="@ViewBag.enddate" placeholder="DD / MM / YYYY" autocomplete="off" />
                </div>
                <div class="form-group col-md-4 col-6 col-xl-2 text-center">
                    <label class="form-control-label">Thao tác</label>
                    <div>
                        <button type="button" class="btn btn-primary mg-r-10 btn-search"><i data-feather="search"></i> Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mg-t-30">
    <div class="table-responsive">
        <table class="table table-striped table-vcenter" id="ManageListMeetingTable">
            <thead class="thead-light">
                <tr>
                    <th>Room ID</th>
                    <th>Khóa học</th>
                    <th>Ngày học</th>
                    <th class="no-wrap">Ca học</th>
                    <th class="no-wrap">Giáo viên</th>
                    <th class="no-wrap">Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:600px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dữ liệu đã lưu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-vcenter">
                        <thead class="thead-light">
                            <tr>
                                <th>Loại tệp</th>
                                <th>Dung lượng tệp</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody id="dataCloud">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>

@section myScripts{
    <script src="~/app-assets/js/accounting.min.js"></script>
    <script src="~/app-assets/zimv2/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script>
        var getParams = function (url) {
            var params = {};
            var parser = document.createElement('a');
            parser.href = url;
            var query = parser.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (pair[1] != undefined) { params[pair[0]] = decodeURIComponent(pair[1]); }
            }
            return params;
        };
        var filterValues = {};
        var refDataTable;
        $(document).ready(function () {
            var url = window.location;
            let params = getParams(url.href);
            let startIndex = 0;
            let start = 0;
            let length = 10;
            let defaultOrder = 0;
            let defaultDir = "desc";
            if (params.length > 0) {

                start = params.start;
                length = params.length;
                startIndex = start;
                defaultOrder = params.order;
                defaultDir = params.dir;
            }
            refDataTable = $("#ManageListMeetingTable").dataTable({
                "order": [[defaultOrder, defaultDir]],
                serverSide: true,
                bFilter: false,
                pageLength: 20,
                lengthChange: false,
                bInfo: false,
                bAutoWidth: false,
                displayStart: startIndex,
                processing: true,

                language: {
                    paginate: {
                        previous: "Prev"
                    },
                    processing: `<div class="loader" >
                                                                        <div class= "strip-holder">
                                                                            <img src="/app-assets/loading.gif" style="width:unset;" />
                                                        </div>
                                                    </div>`
                },
                columns: [
                    //{ data: "RoomID" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            let roomid = `<span>${row.RoomID}</span>`;
                            let btnOff = `<a href="javascript:;" class="btn-outline-info btn-icon btn-sm" onclick="copyToClipboard($(this))" data-roomId="${row.RoomID}" data-roomPass="${row.RoomPass}" style="margin-left:10px" data-toggle="tooltip" title="Sao chép"><i class="fas fa-copy"></i></a>`;
                            return roomid + btnOff;
                        }
                    },
                    { data: "CourseName" },
                    { data: "DateStudy" },
                    { data: "StudyTimeName" },
                    { data: "TeacherName" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            let bagde = `<span class="badge badge-pill badge-warning">Đã đóng</span>`;
                            if (row.isRoomStart == true) {
                                bagde = `<span class="badge badge-pill badge-success">Đang diễn ra</span>`;
                            }
                            return bagde;
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            let btnOff = ``;
                            if (row.isRoomStart == true) {
                                btnOff = `<a href="javascript:;" class="btn-secondary btn-icon btn-sm" onclick="OffRoom(${row.ID})" data-toggle="tooltip" title="Đóng phòng"><i class="fas fa-power-off"></i></a>`;
                            }
                            return btnOff;
                        }
                    }
                ],
                columnDefs: [
                    { targets: [6], orderable: false },
                    { className: "text-center", targets: [6] }
                ],
                ajax: function (data, callback, settings) {
                    filterValues.draw = data.draw;
                    if (params.search != undefined && data.draw == "1") {
                        filterValues.search = params.search;
                        $('input[name="search"]').val(params.search);
                    }
                    if (params.isRoomStart != undefined && data.draw == "1") {
                        filterValues.isRoomStart = params.isRoomStart;
                        $("select[name='isRoomStart']").val(params.isRoomStart);
                    }
                    if (params.from != undefined && data.draw == "1") {
                        filterValues.from = params.from;
                        $('select[name="from"]').val(params.from);
                    }
                    if (params.to != undefined && data.draw == "1") {
                        filterValues.to = params.to;
                        $('select[name="to"]').val(params.to);
                    }

                    if (params.length > 0 && data.draw == "1") {
                        filterValues.start = data.start = params.start;
                        filterValues.length = data.length = params.length;
                        filterValues.order = data.order[0].column = params.order;
                        filterValues.dir = data.order[0].dir = params.dir;
                    }
                    else {
                        filterValues.start = data.start;
                        filterValues.length = data.length;
                        filterValues.order = data.order[0].column;
                        filterValues.dir = data.order[0].dir;
                    }
                    $.ajax({
                        url: 'LoadManageListMeeting',
                        method: 'GET',
                        data: filterValues,
                        success: function (msg) {
                            let ajaxprams = getParams(this.url);
                            if (ajaxprams.draw != 1) {
                                let queryString = "?";
                                for (var key in ajaxprams) {
                                    if (key != "draw") {
                                        queryString += "&" + key + "=" + ajaxprams[key];
                                    }
                                }
                                let state = ajaxprams;
                                let title = 'state' + filterValues.draw;
                                let query = queryString;
                                history.pushState(state, title, query)
                            }
                        },
                    }).done(callback, (data) => {
                        feather.replace();
                    });
                },
                fnCreatedRow: function (nRow, data, iDataIndex) {
                    $(nRow).attr('data-id', data.ID);
                },
            });

            async function pagesearch() {
                filterValues.search = $('input[name="search"]').val();
                filterValues.isRoomStart = $('select[name=isRoomStart]').val();
                filterValues.from = $('input[name=from]').val();
                filterValues.to = $('input[name=to]').val();
                refDataTable.fnDraw();
            }
            $('input[name=search]').keyup(function (event) {
                if (event.keyCode === 13) {
                    pagesearch();
                }
            });
            $('#btn-search').click(function () {
                pagesearch();
            })
            $('.btn-search').click(function () {
                pagesearch();
            })

            $("#ManageListMeetingTable").on('click', 'tr:not(.collapse-row)', function () {
                $("#ManageListMeetingTable tr").removeClass('selected');
                $(this).addClass('selected')
            });


            //Lấy danh sách ReCording
            $("#ManageListMeetingTable tbody").on('dblclick', 'tr:not(.collapse-row)', function () {
                $("#ManageListMeetingTable tbody tr").removeClass('selected');
                $(this).addClass('selected');
                let id = $(this).attr('data-id');
                LoadRecording(id);
            });

        });

        function LoadRecording(id) {
            $.ajax({
                type: "POST",
                url: "/Admin/ZoomMeeting/LoadDetailRecording",
                data: '{id:  ' + id + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.rs == false) {
                        toast.create({
                            title: 'Thông báo!',
                            text: msg.m,
                            icon: 'notifications_active',
                            classBackground: 'noti-warning',
                            timeout: 2000
                        })
                    }
                    else {
                        //console.log(msg.data);
                        let data = msg.data;
                        $('#dataCloud').empty();
                        let html = ``;
                        for (var i = 0; i < data.length; i++) {
                            let d = data[i];
                            let fileSize = parseFloat(d.file_size) / 1024000;
                            let but = ``;
                            if (d.file_type == 'MP4') {
                                but = ` <a href="#exampleModalCenter-${d.file_size}" data-toggle="modal" class="btn btn-secondary btn-icon btn-sm">
                                        <i class="fab fa-youtube"></i>
                                    </a>`;
                            }
                            else if (d.file_type == 'M4A') {
                                but = ` <a href="#exampleModalCenter-${d.file_size}" data-toggle="modal" class="btn btn-info btn-icon btn-sm">
                                        <i class="fas fa-headphones-alt"></i>
                                    </a>`;
                            }


                            html += ` <tr>
                                <td>${d.file_extension} - ${d.recording_type}</td>
                                <th>${fileSize.toFixed(1)} Mb</th>
                                <td class="text-center">
                                   ${but}
                                    <div class="modal fade" id="exampleModalCenter-${d.file_size}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" style="max-width:500px;height:auto" role="document">
                                            <div class="modal-content" style="border:none;background:none">
                                                <video width="100%" height="auto" controls>
                                                    <source src="${d.download_url}" type="video/mp4">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="${d.download_url}" download="" class="btn btn-success btn-icon btn-sm">
                                        <i class="fas fa-cloud-download-alt"></i>
                                    </a>
                                </td>
                            </tr>`;
                        }
                        $('#dataCloud').html(html);
                        $('#exampleModalCenter').modal('show');
                    }
                },
                error: function (xmlhttprequest, textstatus, errorthrow) {
                    console.log("e: error");
                }
            });
        };

        function OffRoom(id) {
            if (confirm('Xác nhận đóng phòng học?')) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/ZoomMeeting/OffMeeting",
                    data: '{id:  ' + id + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg.rs == false) {
                            toast.create({
                                title: 'Thông báo!',
                                text: msg.m,
                                icon: 'notifications_active',
                                classBackground: 'noti-warning',
                                timeout: 2000
                            })
                        }
                        else {
                            toast.create({
                                title: 'Thông báo!',
                                text: msg.m,
                                icon: 'check',
                                classBackground: 'noti-success',
                                timeout: 3000
                            });
                            refDataTable.fnDraw();
                        }
                    },
                    error: function (xmlhttprequest, textstatus, errorthrow) {
                        console.log("e: error");
                    }
                });
            }
        }

        function copyToClipboard($this) {
            var $temp = $("<input>");
            const roomId = $($this).attr("data-roomId");
            const pwd = $($this).attr("data-roomPass");
            const url = 'https://us05web.zoom.us/j/' + roomId + '?pwd=' + pwd;
            $("body").append($temp);
            $temp.val(url).select();
            if ($temp.val() != null) {
                toast.create({
                    title: 'Thông báo!',
                    text: "Sao chép thành công!",
                    icon: 'check',
                    classBackground: 'noti-success',
                    timeout: 3000
                })
            }
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
}



