
@{
    ViewBag.Title = "CreateCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="all">
    <div class="row section">
        <div class="s12"><h4 class="title-page center-align">Danh sách học viên</h4></div>
    </div>
    <div class="customer-form">
        <form>
            <div class="row">
                <div class="col "></div>
            </div>
        </form>
    </div>
</div>