

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="ICC ACADEMY">
    <meta name="keywords" content="ICC ACADEMY">
    <meta name="author" content="ICC ACADEMY">
    <title>ICC ACADEMY</title>
    <link rel="apple-touch-icon" href="/app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- vendor css -->
    <link href="/app-assets/zimv2/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/app-assets/zimv2/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/app-assets/zimv2/lib/datetimepicker-2.5.20/jquery.datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/dropify/css/dropify.min.css">
    <link href="/app-assets/zimv2/assets/select2/css/select2.min.css" rel="stylesheet" />
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="/app-assets/zimv2/assets/css/dashforge.css?v=1.0">
    <link rel="stylesheet" href="/app-assets/zimv2/assets/css/custom.css?v=1.2">
    <link href="/app-assets/zimv2/assets/dev/csscustom.css" rel="stylesheet" />

    <script src="/app-assets/zimv2/lib/jquery/jquery.min.js"></script>
</head>

<link rel="stylesheet" href="assets/css/dashforge.profile.css">
<style>
    footer.footer {
        display: none;
    }

    .content {
        margin-top: 0;
    }

    p.note-line {
        margin-bottom: 0;
        padding-left: 10px;
        margin-left: 15px;
        position: relative;
        font-size: 12px;
    }

    .label-print {
        display: none;
    }

    p.note-line:before {
        content: '-';
        position: absolute;
        right: 100%;
    }

    .contract-content {
        counter-reset: section;
    }

    ul.list-mark {
        margin-bottom: 1rem;
    }

    .title-section {
        font-size: 1.15rem;
        counter-reset: subsection;
        font-weight: bold;
    }

        .title-section::before {
            counter-increment: section;
            content: "Điều " counter(section) ": ";
        }

    .subtitle-section {
        font-weight: bold;
    }

        .subtitle-section::before {
            counter-increment: subsection;
            content: counter(section) "." counter(subsection) " /";
            margin-right: 5px;
        }

    ul.list-mark > li.icon-dot {
        list-style: disc;
    }

    ul.list-mark > li.icon-dash {
        list-style-type: none;
        position: relative;
        padding-left: 15px;
    }

        ul.list-mark > li.icon-dash:before {
            content: "-";
            position: absolute;
            left: 0;
        }

    media print {
        body

    {
        background: white;
        font-size: 12pt;
    }

    .hide-on-print {
        display: none;
    }

    .label-print {
        display: block;
    }

    page {
        size: auto;
    }

    .container {
        width: auto;
        border: 0;
    }

    .barcode-wrap img {
        border: 0;
    }

    }

    .navigaysan {
        padding-top: 60px;
        padding-left: 200px;
    }

    media only screen and (max-width: 600px) {
        .navigaysan

    {
        padding-top: 20px;
        padding-left: 30px;
    }

    }

    media only screen and (min-width: 600px) and (max-width: 1200px) {
        .navigaysan

    {
        padding-top: 30px;
        padding-left: 40px;
    }
    }
</style>
<body>
    <div class="content content-fixed">
        <div class="container pd-x-10 pd-lg-x-10 pd-xl-x-10">
            <div class="page-invoice-wrap">
                <div class="page-invoice-top">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="flex-print hide-on-print">
                            <h4 class="mg-b-0">Điều khoản </h4>
                        </div>
                    </div>
                </div>
                <p><span style="font-size: 18pt;"><strong>Privacy Policy</strong></span></p>
                <p>ICC Academy - Free learning app - this application was built free of charge by ICC Academy.</p>
                <p>This application makes it easier for customers to view study schedule, do exercises.</p>
                <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at ICC Academy unless otherwise defined in this Privacy Policy.</p>
                <p>The application does not collect user data, the customer support application learn better.</p>                
                <p><strong><span style="font-size: 18pt;">Cookies</span></strong></p>
                <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>
                <p>This service does not use cookies.</p>
                <p><strong><span style="font-size: 18pt;">Service Providers</span></strong></p>
                <p>We may employ third-party companies and individuals due to the following reasons:</p>
                <p>To facilitate our Service;<br />To perform Service-related services;<br />To assist us in analyzing how our Service is used;<br />We want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>
                <p><strong><span style="font-size: 18pt;">Security</span></strong></p>
                <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>
                <p><strong><span style="font-size: 18pt;">Links to Other Sites</span></strong></p>
                <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. we have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>
                <p><strong><span style="font-size: 18pt;">Contact Us</span></strong></p>
                <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us via mail: tuyensinh@iccacademy.edu.vn</p>
            </div>
        </div><!-- container -->
    </div><!-- content -->
    <footer class="footer">
        <div>
            <span>&copy; Copyright 2022</span>
        </div>
    </footer>
</body>
<script>
    $(document).ready(function () {
        $('.btn-print').on('click', function () {
            window.print();
        })
    });</script>