
@{
    ViewBag.Title = "AllCurriculumList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Danh sách giáo trình</h2>
<a href="@Url.Action("CurriculumListDetail", "ClassDetail", new { area = "Admin" })">Giáo trình chi tiết</a>
