
@{
    ViewBag.Title = "CampaignSaleSalaryDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="all">
    <div class="col s12 m12 l12">
        <div id="basic-tabs" class="card card card-default scrollspy">
            <div class="card-content pt-5 pr-5 pb-5 pl-5">
                <div id="invoice">
                    <div class="invoice-header">                        
                        <div class="row section">
                            <div class="col s12 m6 l6">
                                <h6 class="text-uppercase strong mb-2 mt-3"> Lương 05/2019</h6>
                                <p class="text-uppercase">Nguyễn Văn ABC</p>
                                <p>Số điện thoại: +84 329 123 7979</p>
                                <p>Email: abcnguyenvan@zim.com</p>
                            </div>                            
                        </div>
                    </div>
                    <div class="invoice-table">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <table class="highlight responsive-table">
                                    <thead>
                                        <tr>
                                            <th data-field="no">No</th>
                                            <th data-field="item">Số lượng học viên</th>                                            
                                            <th data-field="uprice">Hoa hồng</th>                                          
                                            <th data-field="price">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <td>10</td>
                                            <td>400.000</td>
                                            <td>2</td>
                                            <td>4.000.000</td>
                                        </tr>                                        
                                        <tr class="border-none">
                                            <td colspan="2"></td>
                                            <td class="cyan white-text pl-1">Grand Total</td>
                                            <td class="cyan strong white-text">$ 5,871.90</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>