<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Push</title>
</head>
<body>
    <div>
        Push :) @GetDateTime.Now.ToString("dd/MM/yyyy HH:mm")
    </div>
</body>
</html>
