
@using AppZim.Models;
@using AppZim.TableSql;
@using AppZim.ZIM;
@using MB.Extensions;
@{
    ViewBag.Title = "SetPackages";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminNew.cshtml";
    tbl_Account aclog = new tbl_Account();
    if (Session["UID"] == null)
    {
        Response.Redirect("~/Login/Signin");
    }
    else
    {
        aclog = AccountTable.getbyID(Session["UID"].ToString().ToInt(0));
    }
    List<tbl_SetPackageDetail> details = SetPackageDetailTable.getbysetid(ViewBag.SetID);
    details = details.Where(n => n.isHide != true).ToList();
    tbl_SetPackage set = SetPackageTable.getbyid(Model.SetPackageID);
}
<style>
    table.new-table {
        table-layout: auto;
        width: 100%
    }

        table.new-table th, td {
            padding: 12px 0px 12px 10px
        }

        table.new-table thead {
            background: #ccc
        }

        table.new-table tbody tr:not(:last-child) {
            border-bottom: 1px solid
        }

        table.new-table p {
            margin: 0;
        }

    .list-result {
        display: none !important;
    }

        .list-result.show {
            display: block !important;
        }
</style>
<input type="hidden" name="hdfSetID" value="@set.ID" />
<div class="exam__wrap">
    <!-- Breadcrumb -->
    <div class="row mg-b-30">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                    <li class="breadcrumb-item"><a href="javascript:;">Bộ sưu tập </a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End breadcrumb -->
    <div class="ready-for-test">
        @{
            <h3 class="mg-b-30">
                @set.PackageName
            </h3>
            foreach (var skill in details.OrderByDescending(x => x.TypeDetail.Value))
            {
                <div class="card mg-b-30">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div>
                            <h4 class="mg-b-5">@skill.PackageDetailName</h4>
                        </div>
                        @{
                            string metatitle = AppZim.ZIM.AssetCRM.UrlBeauty(AssetCRM.RemoveUnicode(skill.PackageDetailName.ToLower())).Replace("---", "-");
                            var sethistory = SetPackageHistoryTable.getbyStudentIDandSetDetailID(aclog.ID, skill.ID);
                            if (sethistory != null && sethistory.ModifiedDate != null)
                            {
                                if (sethistory.IsDone.Value)
                                {
                                    <a href="/done-test/@skill.ID/@metatitle" class="btn btn-primary btn-icon d-block">
                                        <i data-feather="eye"></i> Kết quả
                                    </a>
                                }
                                else
                                {
                                    <a href="/doing-test/@skill.ID/@metatitle" class="btn btn-info btn-icon d-block">
                                        <i data-feather="edit"></i> Bắt đầu
                                    </a>
                                }

                            }
                            else
                            {
                                <a href="/doing-test/@skill.ID/@metatitle" class="btn btn-info btn-icon d-block">
                                    <i data-feather="edit"></i> Bắt đầu
                                </a>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
<!---Create Teacher-->
@section myScripts{
    <script>
        $('.open-result-list').on('click', function () {
            if ($(this).closest('.card').find('.list-result').hasClass('show')) {
                $(this).closest('.card').find('.list-result').removeClass('show');
            } else {
                $(this).closest('.card').find('.list-result').addClass('show');
            }
        });
    </script>
}


